body {
    
font-weight: bold;
    background-color:gray;
    color:#ffffff
    
}
h1 {
    font-size: 4em;
  }
  
  p {
    font-size: 2em;
    line-height: 1em;
  }




h1,h2 {color: black;
    margin-right: 20px;

}

a:link {color: purple;}

a:visited {
    color:yellow;
}

	nav{background-color:#ffffff;}

    nav{padding: 10px;}
    
    nav a{background-color:#000000;}

    a:hover {color:#ffc0cb}

    nav {margin-bottom: 30px;}

    .div1 {
        float: left;
        margin: 20px;

    }

    .div2{
        float:right;
        margin: 20px;
    }
  
    @media only screen and (max-width: 600px)
    {body{ font-size: 55px;}
        nav a{max-width: 100%;
            padding:10px;
            display: block;
            flex-direction: row;
            justify-content: space-around;
        }
    }
@media only screen and (max-width: 800px)
{
.body{font: size 45px; ;}
.span{display: none;}
.text-piped{ flex-direction: column; padding: 35px; justify-content: space-between; display: flex;  flex-wrap: nowrap; 
}
}



