body {

    background-color: black;
    color:darkorange
    
}
h1,h2 {color:royalblue}

a:link {color:yellow;}

a:visited {
    color:#9003fc
}

.paragraphWithVerticalLine {
    border-right: 1px solid #000;
    width: 300px;
    height: 300px;
}
