body {

    background-color: black;
    color:darkorange
    
}
h1,h2 {color:crimson}

a:link {color:yellow;}

a:visited {
    color:#9003fc
}

	nav{background-color: white;}

    nav{padding: 10px;}
    
    nav a{background-color: cyan;}

    a:hover {color:pink}

    nav {margin-bottom: 30px;}